body{
    font-family: sans-serif;
}
#navbar{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
}
.navbar-sub{
    text-decoration: none;
    color: black;
    margin-right: 1em;
    display: flex;
}
#navbar-l{
    display: flex;
}
#navbar-r{
    display: flex;
}
#navbar a:hover{
    text-decoration: underline;
}
.puntos:hover{
    background-color: #EAEAEA;
    border-radius: 50px;
}
#main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#main-sup{
    height: 15em;
    width: 30em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo img{
    width: 30vw;
}
#barra-central{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40em;
    height: 5em;
}
input{
    width: 35em;
    height: 3em;
    border-radius: 2em;
    border: 0.1em solid rgb(210, 210, 210);
    position: fixed;
    justify-content: center;
    align-items: center;
}
#icons{
    display: flex;
    z-index: 1;
    width: 25em;
    justify-content: space-between;
    position: fixed;
    align-items: center;
} 
#main-med{
    height: 2em;
    width: 20em;
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: 0.5em;
    border: none;
}
button:hover{
    box-shadow: rgb(193, 190, 190) 0 0 0.02em 0.05em;
}
#main-inf{
    font-size: 0.8em; 
}
#main-inf a{
    text-decoration: none;
}
#main-inf a:hover{
    text-decoration: underline blue;
}
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 20vh;
    background-color: rgb(210, 210, 210);
    color: rgb(87, 86, 86);
    display: flex;
    flex-direction: column;
}
#footer-sup{
    height: 5vh;
    display: flex;
    align-items: center;
}
#footer-inf{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
} 
#footer-inf-1{
    display: flex;
    justify-content: start;
    width: 33vw;
}
#footer-inf-2{
    display: flex;
    width: 33vw;
}
#footer-inf-3{
    display: flex;
    justify-content: end;
    width: 33vw;
}
#footer a, p{
    color: rgb(87, 86, 86);
    text-decoration: none;
    padding: 0.5em;
}
#footer a:hover{
    text-decoration: underline grey;
}

@media (max-width:360px){
    #container{
        width: 100%;
    }
    #navbar{
        height: 5vh;
    }
    .ocul, .puntos{
        display: none;
    }
    #user{
        justify-content: start;
    }
    #main-sup{
        padding-top: 2em; 
    }
    #logo img{
        width: 70vw;
    }
    input{
        width: 22em;
        height: 2em;
    }
    #icons{
        width: fit-content;
        justify-content: space-between;
        size-adjust: 2em;
        }
    #camera{
        margin-left: 10em;
        height: 1.5em
    } 
    #main-med{
        flex-direction: column;
        gap: 0.5em;
        margin-bottom: 1em;
    }
    #footer{
        height: 5vh;
    } 
    #footer-sup{
        display: none;
    }
    #footer-inf-1{
        display: none;
    }
    #footer-inf-3{
        justify-content: start;
        width: 100%;
    }
    #footer-inf-2{
        display: none;
    }
}